<!--
-
- @create 24/11/2019 - 00:33
- @author nanoo
-->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Livres</title>
    <link rel="stylesheet" type="text/css" href="webjars/bootstrap/4.3.1/css/bootstrap.min.css" />
</head>
<body>

<div class="container">


    <h1 class="text-center" >Application bibliothèque</h1><br/>

    <div class="row text-center">
        <div th:each="book : ${books}" class="col-md-4 my-1">
            <p th:text= "${book.title}"></p>
            <p th:text= "${book.authors}"></p>
            <p th:text= "${book.category}"></p>
            <p th:text= "${book.condition}"></p>
        </div>
    </div>

</div>

</body>
</html>