<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="fr">

<head th:insert="fragments/fragments.html :: headerfiles">

    <title>Bibliothèque de Bordeaux</title>

</head>

<body>

<div th:insert="fragments/fragments.html :: nav"></div>

<div class="container-fluid">
    <!-- Search options -->
    <div class="search-frame">
        <form>
            <div class="row align-items-center text-center">
                <div class="custom-checkbox col-md-1">
                    <input type="checkbox" class="custom-control-input" id="available"> <!--TODO remove customControlInput-->
                    <label class="custom-control-label" for="available">Disponible</label>
                </div>
                <div class="col-md-3">
                    <label class="mr-sm-2 sr-only" for="title"></label>
                    <input type="text" class="form-control" id="title" placeholder="Titre...">
                </div>
                <div class="col-md-3">
                    <label class="mr-sm-2 sr-only" for="author"></label>
                    <input type="text" class="form-control" id="author" placeholder="Auteur...">
                </div>
                <div class="col-md-1">
                    <button type="submit" class="btn btn-light action-button">Rechercher</button>
                </div>
            </div>
        </form>
    </div>
    <!-- Slider -->
    <div class="simple-slider">
        <div class="swiper-container">
            <div class="swiper-wrapper">

                <div th:each="book : ${books}" class="swiper-slide">
                    <div class="row inside-slider">
                        <div class="col-md-5">
                            <div class="cover-book">
                                <img th:src="@{/image/cover-test.jpg}" alt="couverture du livre" src="">
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="info-book">
                                <div class="header-description">
                                    <div th:text="${book.title}" class="title-book"></div>
                                </div>
                                <div class="text-description">
                                    <div>Autheur(s) : <span th:each="author : ${book.getAuthors()}">
                                        <span th:text="${author.firstName}"></span>
                                        <span th:text="${author.lastName}"></span>
                                    </span></div>
                                    <div>Bibliothèque : <span th:text="${book.library.name}"></span></div>
                                    <div>Genre : <span th:text= "${book.category}" ></span></div>
                                    <div>Résumé : ** résumé **</div>
                                    <div>Etat général : <span th:text= "${book.condition}" ></span></div>
                                    <div>Disponible :
                                        <span th:if="${book.available == true}">Oui</span>
                                        <span th:unless="${book.available == true}">Non</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="swiper-pagination"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
    </div>
</div>

<div th:insert="fragments/fragments.html :: footer" class="footer"></div>

<div th:insert="fragments/fragments.html :: script"></div>

</body>

</html>