.navigation-clean-search {
  background-color: rgba(255,255,255,0.8);
  padding-top: .75rem;
  padding-bottom: .75rem;
  color: #333;
  border-radius: 0;
  box-shadow: none;
  border: none;
  margin-bottom: 0;
}

.navbar .container-fluid{
  margin: 0 50px 0 50px;
}

@media (min-width:768px) {
  .navigation-clean-search {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

.navigation-clean-search .navbar-brand {
  font-size: 25px;
  font-weight: bold;
  color: inherit;
}

.navigation-clean-search a{
  cursor: pointer !important;
  border-bottom: 1px solid white !important;
}

.navigation-clean-search a:hover, .navigation-clean-search a:focus{
  border-bottom: 1px solid rgba(155,155,155,0.5);
}

.navigation-clean-search .navbar-brand:hover {
  color: #303030;
}

.navigation-clean-search .navbar-toggler {
  border-color: #ddd;
}

.navigation-clean-search .navbar-toggler:hover, .navigation-clean-search .navbar-toggler:focus {
  background: none;
}

.navigation-clean-search .navbar-toggler {
  color: #888;
}

.navigation-clean-search .navbar-collapse, .navigation-clean-search .form-inline {
  border-top-color: #ddd;
}

.navigation-clean-search .navbar-nav a.active, .navigation-clean-search .navbar-nav > .show > a {
  background: none;
  box-shadow: none;
}

.navigation-clean-search.navbar-light .navbar-nav a.active, .navigation-clean-search.navbar-light .navbar-nav a.active:focus, .navigation-clean-search.navbar-light .navbar-nav a.active:hover {
  color: #8f8f8f;
  box-shadow: none;
  background: none;
  pointer-events: none;
}

.navigation-clean-search.navbar .navbar-nav .nav-link {
  padding-left: 18px;
  padding-right: 18px;
}

.navigation-clean-search.navbar-light .navbar-nav .nav-link {
  color: #465765;
}

.navigation-clean-search.navbar-light .navbar-nav .nav-link:focus, .navigation-clean-search.navbar-light .navbar-nav .nav-link:hover {
  color: #37434d !important;
  background-color: transparent;
}

.navigation-clean-search .action-button,
.navigation-clean-button .action-button:active,
.search-frame .action-button,
.book-detail-button .action-button,
.book-detail-button .action-button:active{
  background: #616161 !important;
  width: 150px;
  border-radius: 20px;
  font-size: inherit;
  color: #fff !important;
  box-shadow: none;
  border: none;
  text-shadow: none;
  margin: 0 10px 0 10px;
  padding: 8px 20px;
  transition: 0.5s;
}

.search-frame .action-button{
  color: #303030 !important;
  background: white !important;
  border: 1px solid #616161 !important;
}

.navigation-clean-search .action-button:hover, .navigation-clean-search .action-button:focus,
.search-frame .action-button:hover, .search-frame .action-button:focus,
.book-detail-button .action-button:hover, .book-detail-button .action-button:focus{
  background: #a2a2a2 !important;
}

.search-frame .action-button:hover, .search-frame .action-button:focus{
  color: #fffdf9 !important;
  background: #616161 !important;
  border: 1px solid #616161 !important;
}

.navigation-clean-search .form-inline label {
  color: #5c5c5c;
  margin-right: 10px;
}


.navigation-clean-search .form-inline .search-field {
  background: none;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #a6a6a6;
  color: #5c5c5c;
  box-shadow: none;
  transition: border-bottom-color 0.3s;
  margin-right: 25px;
}

@media (max-width:767px) {
  .navigation-clean-search .form-inline .search-field {
    display: inline-block;
    width: 80%;
  }
}

.navigation-clean-search .form-inline .search-field:focus {
  border-bottom: 1px solid #5c5c5c;
}
