/*************************************/
/*              Common               */
/*************************************/

html {
    height: 100%;
}

body {
    min-height: 100%;
    margin: 0;
    padding: 0;
    /*background-image: url('/image/bibliotheque-bordeaux-3.jpg') ;
    background-size: cover;*/
}

/*************************************/
/*               Test                */
/*************************************/

.test-frame-red {
    border: 1px solid red;
}
.test-frame-blue {
    border: 1px solid #2f53ff;
}
.test-frame-green {
    border: 1px solid #21ff25;
}

