.git
.gitignore
.cache
idea/
.idea/
.idea
*.iws
*.iml
*.ipr
*.md
classes/
generated-sources/
generated-test-sources/
h2db/
mvn/
.mvn/
maven-archiver/
maven-status/
reports/
surefire-reports/
test-classes/
test-results/
www/
!*.jar
!*.war
!README.md